---
layout: default
title: The Hound of Ulster
---

<section class="game-section">

  <div class="game-horizontal-card">
    <div class="game-image-placeholder">
      <!-- Imagen ilustrativa del juego -->
      <!-- <img src="/assets/images/game-banner.png" alt="Hound of Ulster"> -->
    </div>
    <div class="game-content">
      <h2>Description</h2>
      <p>
        Lorem ipsum dolor sit amet.
      </p>
      <h3>Gameplay Pillars</h3>
      <p>
        Lorem ipsum dolor sit amet.
      </p>
      <h3>Story</h3>
      <p>
        Lorem ipsum dolor sit amet.
      </p>
    </div>
  </div>

  <h2>Videos</h2>
  <div class="characters-grid">
    TBA
  </div>

  <h2>Images</h2>
  <div class="characters-grid">
    {% for character in site.data.images %}
    <div class="character-card">
      <div class="character-image-placeholder">
        <img src="{{ character.image }}" alt="{{ character.name }}">
      </div>
    </div>
    {% endfor %}
  </div>

  <h2>Logos</h2>
  TBA

  <h2>About Centuria Games</h2>
  Lorem ipsum dolor sit amet.

  <h2>Team</h2>
  {% for member in site.data.team %}
    <b>{ member.name }</b><br>
    { member.role }<br>
  {% endfor %}

  <h2>Contact</h2>
  TBA
</section>