---
layout: default
title: The Hound of Ulster
---
<img src="assets/images/logos/Asset9.png" style="
    width: 300px;
    margin: auto;
    display: block;
">

<table style="width: 100%">
  <tr>
    <td style="width: 25%; vertical-align: top;">
      <section class="game-section">
        <div class="about-card">
          <h2>About</h2>
          <p>
            <b>Game</b><br>
            The Hound of Ulster
          </p>
          <p>
            <b>Developer</b><br>
            Centuria Games<br>
            Studio based in Barcelona, Spain
          </p>
          <p>
            <b>Release</b><br>
            TBA
          </p>
          <p>
            <b>Genre</b><br>
            Beat-em-up
          </p>
          <p>
            <b>Platforms</b><br>
            PC
          </p>
        </div>

        <div class="about-card">
          <h2>Contact</h2>
          <p>
            TBA
          </p>
        </div>

        <div class="about-card">
          <h2>Team</h2>
          <p>
            {% for member in site.data.team_formal %}
            <p>
              <b>{{ member.name }}</b><br>
              {{ member.role }}<br>
            </p>
            {% endfor %}
          </p>
        </div>
      </section>
    </td>
    <td style="width: 75%; vertical-align: top;">
      <section class="game-section">
        <div class="about-grid">
          <div class="about-card">
            <h2>Description</h2>
            <p>
              Lorem ipsum dolor sit amet.
            </p>
            <h3>Gameplay Pillars</h3>
            <p>
              Lorem ipsum dolor sit amet.
            </p>
            <h3>Story</h3>
            <p>
              Lorem ipsum dolor sit amet.
            </p>
          </div>

          <div class="about-card">
            <h2>Videos</h2>
            <div class="characters-grid">
              TBA
            </div>
          </div>


          <div class="about-card">
            <h2>Images</h2>
            <div class="characters-grid">
              {% for character in site.data.images %}
              <div class="character-card">
                <div class="character-image-placeholder">
                  <a href="{{ character.image }}"><img src="{{ character.image }}" alt="{{ character.name }}"></a>
                </div>
              </div>
              {% endfor %}
            </div>
          </div>

          <div class="about-card">
            <h2>Logos</h2>
            <p>
            <div class="characters-grid">
              {% for logo in site.data.logos %}
              <div class="character-card">
                <div class="logo-image-placeholder">
                  <a href="{{ logo.image }}"><img src="{{ logo.image }}"></a>
                </div>
              </div>
              {% endfor %}
            </div>
            </p>
          </div>

          <div class="about-card">
            <h2>About Centuria Games</h2>
            <p>
              Lorem ipsum dolor sit amet.
            </p>
          </div>
        </div>
      </section>
    </td>
  </tr>
</table>