---
layout: default
title: Press Kit - The Hound of Ulster
---
<img src="assets/images/logos/Asset9.png" style="
    width: 300px;
    margin: auto;
    display: block;
">

<div class="press-kit-container">
  <div class="press-kit-sidebar">
      <section class="game-section">
        <div class="about-card">
          <h2>About</h2>
          <p>
            <b>Game</b><br>
            <span class="white-text">The Hound of Ulster</span>
          </p>
          <p>
            <b>Developer</b><br>
            <span class="white-text">Centuria Games</span><br>
            <span class="white-text">Studio based in Barcelona, Spain</span>
          </p>
          <p>
            <b>Release</b><br>
            <span class="white-text">TBA</span>
          </p>
          <p>
            <b>Genre</b><br>
            <span class="white-text">Top-down Beat 'em up</span>
          </p>
          <p>
            <b>Platforms</b><br>
            <span class="white-text">PC</span>
          </p>
        </div>

        <div class="about-card">
          <h2>Contact</h2>
          <p>
            <b>LinkedIn: </b><a href="https://www.linkedin.com/company/the-centuria-games" class="white-text">the-centuria-games</a><br>
            <b>Instagram: </b><a href="https://www.instagram.com/thecenturiagames" class="white-text">thecenturiagames</a>
          </p>
        </div>

        <div class="about-card">
          <h2>Team</h2>
          <p>
            {% for member in site.data.team_formal %}
            <p>
              <b>{{ member.name }}</b><br>
              <span class="white-text">{{ member.role }}</span>
            </p>
            {% endfor %}
          </p>
        </div>
      </section>
  </div>

  <div class="press-kit-main">
      <section class="game-section">
        <div class="press-grid">
          <div class="about-card">
            <h2>Description</h2>
            <p>
              The Hound of Ulster is a top-down 3D action RPG inspired by the legendary Irish myth, The Ulster Cycle.
              Engage in fast-paced hack-and-slash combat against a variety of enemies across mystical landscapes
              brimming with history, traps, and things waiting to be broken. Attack, dash, heal, and transform as you
              carve your path through each level and uncover the destiny that awaits you.
            </p>
            <h3>Gameplay Pillars</h3>
            <p>
              Lorem ipsum dolor sit amet.
            </p>
            <h3>Story</h3>
            <p>
              Long after mortals stole the land of the gods, conflict stirs in ancient Ireland… Embark on a fated
              journey as Cú Chulainn, the legendary Hound of Ulster. Reclaim the stolen Mystical Brown Bull and restore
              Ulster’s lost glory. Haunted by The Morrígan, goddess of war and fate, you will face battles that test
              your strength, your spirit, and destiny itself. Will you face the cost of prophesied greatness?
            </p>
          </div>

          <div class="about-card">
            <h2>Videos</h2>
            <div class="characters-grid">
              TBA
            </div>
          </div>


          <div class="about-card">
            <h2>Images</h2>
            <div class="characters-grid">
              {% for character in site.data.images %}
              <div class="character-card">
                <div class="character-image-placeholder">
                  <a href="{{ character.image }}"><img src="{{ character.image }}" alt="{{ character.name }}"></a>
                </div>
              </div>
              {% endfor %}
            </div>
          </div>

          <div class="about-card">
            <h2>Logos</h2>
            <p>
            <div class="characters-grid">
              {% for logo in site.data.logos %}
              <div class="character-card">
                <div class="logo-image-placeholder">
                  <a href="{{ logo.image }}"><img src="{{ logo.image }}"></a>
                </div>
              </div>
              {% endfor %}
            </div>
            </p>
          </div>

          <div class="about-card">
            <h2>About Centuria Games</h2>
            <p>
              Centuria Games is an indie game studio formed within the UPC (Universitat Politècnica de Catalunya), as
              part of the master’s degree in "Advanced Programming and Animation & Digital Arts for AAA Video Games."
            </p>
          </div>
        </div>
      </section>
  </div>
</div>