<footer class="footer">
    <div class="footer-left">
        <div style="display: inline-block">
            <img src="/CenturiaGames/assets/images/logo_monochrome.png" style="height: 60px">
        </div>
        <div style="display: inline-block">
            <h2>Centuria Games</h2>
            <p>© 2025 Centuria Games. All rights reserved.</p>
        </div>
    </div>
    <div class="footer-right">
      <a href="https://www.youtube.com/@centuriagames" target="_blank" aria-label="YouTube"><img src="/CenturiaGames/assets/icons/youtube.svg" alt="YouTube" /></a>
      <a href="https://www.linkedin.com/company/the-centuria-games" target="_blank" aria-label="LinkedIn"><img src="/CenturiaGames/assets/icons/linkedin.svg" alt="LinkedIn" /></a>
      <a href="https://www.instagram.com/thecenturiagames/" target="_blank" aria-label="Instagram"><img src="/CenturiaGames/assets/icons/instagram.svg" alt="Instagram" /></a>
      <a href="https://itch.io/profile/centuriagames" target="_blank" aria-label="itch.io"><img src="/CenturiaGames/assets/icons/itchio.svg" alt="itch.io" /></a>
    </div>
    <script>
        (() => {
            let map = {};
            for(let img of document.getElementsByTagName("img")){
                let alt = img.getAttribute("alt");
                if(alt !== null){
                    map[alt] = img;
                }
            }
            function replace(name, img){
                let j = map[name];
                if(j !== undefined) {
                    let base = j.src;
                    let fs = [() => j.src = "/CenturiaGames/assets/images/" + img, () => j.src = base];
                    let i = 0;
                    j.onclick = function(){
                        fs[i]();
                        i = 1 - i;
                    }
                }
            }

            function append(name, image, cls){
                let j = map[name];
                if(j !== undefined) {
                    let img = document.createElement("img");
                    img.src = "/CenturiaGames/assets/images/" + image;
                    img.setAttribute("class", cls);
                    img.style.display = "none";
                    j.parentElement.parentElement.appendChild(img);
                    let fs = [() => img.style.display = "block", () => img.style.display = "none"];
                    let i = 0;
                    let f = function(){
                        fs[i]();
                        i = 1 - i;
                    }
                    j.onclick = f;
                    img.onclick = f;
                }

            }
            replace("Joan Llobet Ruiz", "farola.png");
            replace("Víctor Franco Sanchez", "beluga.png");
            replace("Alex Lopez Agudo", "hedgehog.gif");
            append("Andreu Salvadó Béjar", "pooka.png", "cradle-image");
        })();
    </script>
    <script src="/CenturiaGames/lib/lightbox/js/lightbox-plus-jquery.min.js"></script>
  </footer>