<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" type="image/x-icon" href="/CenturiaGames/assets/images/logo.png">
  <link href="/CenturiaGames/lib/lightbox/css/lightbox.min.css" rel="stylesheet">
</head>

<nav class="navbar">
  <div class="menu-toggle" id="mobile-menu">
    ☰
  </div>
  <ul class="nav-list">
    <li><a href="/CenturiaGames/index.html">Index</a></li>
    <li><a href="/CenturiaGames/about.html">About</a></li>
    <li><a href="/CenturiaGames/team.html">Team</a></li>
    <li><a href="/CenturiaGames/game.html">Game</a></li>
    <li><a href="/CenturiaGames/engine.html">Engine</a></li>
    <li><a href="/CenturiaGames/ost.html">OST</a></li>
    <li><a href="/CenturiaGames/blog.html">Blog</a></li>
    <li><a href="/CenturiaGames/press.html">Press Kit</a></li>
    <li><a href="/CenturiaGames/download.html">Download</a></li>
  </ul>
</nav>
