<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>{{ page.title }} - {{ site.title }}</title>
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/style.css">
  <link href="https://fonts.googleapis.com/css2?family=Cinzel&display=swap" rel="stylesheet">
</head>
<body>
  <div class="page-container">
    {% include header.html %}
    <main>
      {{ content }}
    </main>
    {% include footer.html %}
  </div>

  <script src="{{ site.baseurl }}/assets/js/main.js"></script>
</body>
</html>
